.signin {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.signin__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.signin__form > * {
	margin-bottom: 10px;
}
.signin > h2 {
	margin-bottom: 15px;
}
