.Task {
	min-height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Task__container {
	width: 70%;
	background-color: #fff;
	min-height: 80vh;
	padding: 30px;
	border-radius: 3px;
	border: 1px solid #333;
}
.Task__container > h3 {
	margin-bottom: 30px;
}
.comment__form {
	display: flex;
	margin-bottom: 30px;
	align-items: center;
}
.comment__form > input {
	padding: 10px;
	border: 1px solid #367e18;
	width: 70%;
	margin-right: 20px;
}
.comment {
	margin-bottom: 5px;
}
.comment__form > button {
	padding: 15px 20px;
	cursor: pointer;
	background-color: #367e18;
	color: #fff;
	outline: none;
	border: none;
	height: 45px;
}
